:root {
  --marrom: #5a3e2b;
  --marrom-claro: #7a543a;
  --texto: #333;
  --bg: #f7f4f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  /* outline: 1px solid red; */
}

body {
  background: var(--bg);
  color: var(--texto);
}

.header {
  width: 100%;
  background: url("../assets/img/header.jpg") center/cover no-repeat;
  padding: 2rem 0;
  color: #fff;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.03);
  /* backdrop-filter: blur(1px); */
  pointer-events: none;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;

  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.logo {
  width: 80px;
  flex-shrink: 0;
}

.header-content h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  background: rgba(90, 62, 43, 0.5);
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  letter-spacing: 2px;
  transform: scaleX(0.95);
  font-weight: 700;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;

  max-width: 960px;
  margin: 0 auto;
}

.card {
  background: #fff;
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.card h2 {
  color: var(--marrom);
  font-size: 1.2rem;
}

.lema {
  font-size: 1.1rem;
  color: var(--marrom);
  text-align: center;
  font-style: italic;
  font-weight: 600;
  margin: 0.5rem 0;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.links a {
  text-decoration: none;
  text-align: center;
  padding: 0.8rem;
  border-radius: 8px;
  background: var(--marrom);
  color: #fff;
  font-weight: bold;
  transition: background 0.2s ease;
}

.links a:hover {
  background: var(--marrom-claro);
}

.footer {
  background-color: var(--marrom);
}

.footer-content {
  text-align: center;
  padding: 1rem;
  font-size: 0.85rem;
  color: #fff;

  max-width: 960px;
  margin: 0 auto;
}

@media (min-width: 690px) {
  .header {
    padding: 3rem 0;
  }

  .logo {
    width: 100px;
  }

  .header-content h1 {
    font-size: 2rem;
  }
}

@media (min-width: 960px) {
  .header {
    padding: 4rem 0;
  }

  .logo {
    width: 120px;
  }

  .header-content h1 {
    font-size: 2.5rem;
  }
}